@tailwind base;
@tailwind components;
@tailwind utilities;

// app global css in SCSS form
@import url('https://fonts.googleapis.com/css?family=Overpass:ital,wght@0,300;0,400;0,600;0,700;0,800;1,800&display=swap');

* {
  font-family: 'Overpass';
}

.user-location {
  background-image: url('/LocationMarker.svg');
  background-size: cover;
  height: 32px;
  width: 32px;
}

.puv-location {
  background-image: url('/LocationMarker.svg');
  // -webkit-mask-image: url('/LocationMarker.svg');
  // mask-image: url('/LocationMarker.svg');
  // background-color: red;
  background-size: cover;
  height: 24px;
  width: 24px;
}

.enter {
  animation: enter 1s cubic-bezier(1, 0, 0, 1);
}

@keyframes enter {
  0% {
    filter: opacity(0);
    height: 128px;
    width: 128px;
  }

  100% {
    filter: opacity(1);
    height: 32px;
    width: 32px;
  }
}

.bottom-drawer-transition-enter-to,
.bottom-drawer-transition-leave-from {
  transform: translateY(0);
}

.bottom-drawer-transition-enter-active,
.bottom-drawer-transition-leave-active {
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.bottom-drawer-transition-enter-from,
.bottom-drawer-transition-leave-to {
  transform: translateY(50%);
  opacity: 0;
}

.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scale-pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
